@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 1rem;
}

nav {
    display: flex;
    width: 100%;
}

ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

nav ul li a:hover,
th:hover {
    color: aqua;
}

table {
    margin: 1rem;
    width: 80%;
}

table {
    border: 1px solid lightgrey;
}

th:hover {
    color: inherit;
    cursor: pointer;
    background: aqua;
    box-shadow: 3px 2px 6px lightgrey;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    height: 30px;
    margin: 2rem;
    padding: 2rem;
    border: solid 1px lightgrey;
    background: lightblue;
    box-shadow: 3px 2px 6px lightgrey;
    font-size: large;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}